
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invite</title>
</head>
<body>
    <header class="jumbotron">
        <h1>Party Invitation</h1>
    </header>
    <section>
        <p class="lead">
            We are holding a party on the 23rd January 2019
        </p>
        <a asp-action="Reply">RSVP Now</a>
    </section>
</body>
</html>
