
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invite</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header class="jumbotron">
            <h1>Party Invitation</h1>
        </header>
        <section>
            <p class="lead">
                We are holding a party on the 23rd January 2019
            </p>
            <a class="btn btn-info" asp-action="Reply">RSVP Now</a>
        </section>
    </div>
</body>
</html>
