@model IEnumerable<Core2MvcPartyInvites.Models.Guest>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListAttendees</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="container">
    <header class="jumbotron">
        <h1>List of all People Attending the Party</h1>
    </header>
    <section>
        <table class="table table-bordered" style="width:50%;">
            <thead>
                <tr class="bg-info">
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                @foreach(Guest guest in Model)
                {   <tr>
                        <td>@guest.Name</td>
                        <td>@guest.Email</td>
                        <td>@guest.Phone</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</body>
</html>
